.logo img {
  width: 100px;
}

.input-buscador {
  padding: 5px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;

}

main {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

form {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
}

fieldset {
  margin-bottom: 20px;
  border: 1px solid #4caf50;
  padding: 15px;
  border-radius: 5px;
}

legend {
  color: #4caf50;
}

input,
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #333;
  border: 1px solid #555;
  color: #fff;
}

textarea {
  height: 100px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.add-btn {
  background-color: #4caf50;
}

.cancel-btn {
  background-color: #757575;
}

.preview {
  background-color: #b39ddb;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.preview-content {
  display: flex;
  justify-content: space-between;
}

.order-info,
.client-info {
  width: 45%;
}

.confirm-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.observaciones {
  margin-top: 20px;
}

.observaciones p {
  background-color: #ede7f6;
  padding: 10px;
  border-radius: 5px;
}
