 .formulario-contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: #8194c4;
        border-radius: 8px;
        max-width: 80%;
        margin-bottom: 10px;
        margin-left: 15%;
    }
    .form-group{
        border: 1px solid #0201B4;
        box-shadow: 2px 1px 1px #0201B4; 
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 5px;
    }
    .form-group .input,
    .form-group input,
    .form-group select{
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 14px;
    }
    #desc, #comentario, #coment_e{       
        min-height: 70px; 
        resize: vertical; 
        padding: 8px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    #formReparacion input,
    #formReparacion select,
    #formReparacion textarea {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box; /* <-  evita que se "salgan" los inputs*/
    }
    #formReparacion{
        display: none;
        max-width: 70%;
        text-align: center;
        justify-items: center;
    }
    #formReparacion form {
        text-align: left;
        gap: 10px;
        width: 80%;
    }

    @media (max-width: 768px) {
        .formulario-contenedor {
            grid-template-columns: 1fr;
            gap: 1rem;
            
        }
        #formReparacion{
            width: 100%;
            max-width: 100%;
            margin-left: 0%;
        }
        #formReparacion form {
            max-width: 100%;
        }
        
        #formReparacion .form-group {
            max-width: 100%;
           /* max-width: 100%;*/
        }
        .form-group input, 
        .form-group select,
        .form-group textarea {
            width: 90%;
            max-width: 90%; 
        }

        #comentario {

            min-height: 120px; 
            resize: vertical;
        }

    }