/*ESTILOS GENERALES*/

/*Aca irian todos los estilos que se repiten en todas las paginas,
como el estilo de los input, los botones, el formato general de las tablas.
Los estilos referente a la alineacion de cada pantalla deberia ir en un css separado
por cada modulo.
*/

@import './colors.css';
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  margin: 0 2rem 0 2rem;
}

table{
  min-width: 80%;
}

caption{
  margin-bottom: 1rem;
}

table, th, td{
  border:1px solid var(--negroPrincipal);
  border-collapse: collapse;
}

th{
  height:50px;
  background-color: var(--azulPrincipal);
  color: var(--blancoPrincipal);
  padding:0 1px 0 1px;
}

tr{
  background-color: var(--blancoPrincipal);
}

tr:nth-child(even) {
  background-color: var(--grisPrincipal);
}

td{
  text-align: center;
  padding: 0 1rem 0 1rem;
}

a{
  padding:0;
}

h1{
  margin-top: 2rem;
  font-size: 3rem;
}

h3{
  font-size: 2rem;
}

h6{
  font-size: 1.5rem;
}

strong{
  font-weight: 600;
  color:var(--blancoPrincipal)
}

.label{
  font-size: 1.2rem;
  color: var(--negroPrincipal);
}

.input{
  padding:0.5rem;
  min-width: 300px;
  border:none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  height:48px;
  background-color: var(--blancoPrincipal);
  color: var(--negroPrincipal);
}

.input::placeholder{
  color: var(--negroPrincipal);
  font-style: italic;
}

.btn{
  text-decoration: none;
  background-color: var(--azulSecundario);
  color:var(--blancoPrincipal);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  height:48px;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  display: block;
}

.btn:hover{
  background-color: var(--azulBtnHover);
  
}

.btn-search{
  margin-top: 1rem;
}

.cancel{
  background-color: var(--rojoPrincipal);
  max-height: 48px; 
}

.cancel:hover{
  background-color: var(--rojoSecundario);
}

.excel{
  background-color: var(--verdePrincipal);
}

.excel:hover{
  background-color: var(--verdeSecundario);
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items:center;
  gap:2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.preview{
  background-color: var(--azulSecundario);
  padding: 20px;
  border-radius: 10px;
  margin: 2rem;
  min-width: 80%;
}
/*Navegacion*/

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #8497c5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  /*width: auto;*/
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap; /*add*/
  justify-content: space-between;/*add*/
  align-items: center;/*add*/
  padding: 10px 20px; /*add*/
  background-color: var(--azulPrincipal);
  
}

.logo-header {
  height: 140px;
  width: 140px;
  margin: 2px;
  border-radius: 50%;
}

.header-derecha {
  display: block;
  width: auto;
  margin-left: 10%;
}
.header-derecha .nav-container{
  margin-top: 2%;
}
/* Botón hamburguesa */
.menu-toggle {
  display: none;
  font-size: 36px;
  background: none;
  border: none;
  color: var(--blancoPrincipal);
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1001;
}
.menu-toggle:hover{
  padding: 2px 4px;
  background-color: var(--blancoPrincipal);
  color:var(--azulSecundario);
  
}


/* Menú principal */
nav.nav-container {
  width: 100%;
}
.header-container-mensaje {
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.icono-mensaje {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}
.user {
  background-color: #113589;
  color: azure;
  margin-left: 10px;
  font-size: 16px;
  padding: 5px;
}

.color {
  display: inline;
  text-decoration: none;
  margin-right: 30px;
}

.navegacion {
 /*width: 100%;*/
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(8, auto);
  /*gap: px;*/
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
} 

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link-navegacion {
  text-decoration: none;
  color: var(--blancoPrincipal);
  font-size: 1.3rem;
  font-weight: bold;
  /*padding: 5px;*/
  margin:2px;
  
}
.link-navegacion.nav-button{
  
  background-color: #0201B4;
  border:none;
  font-size: 1.27rem;
}
.link-navegacion.nav-button:hover{
  background-color: var(--blancoPrincipal);
  color:var(--azulSecundario);
}

.link-navegacion:hover{
  background-color: var(--blancoPrincipal);
  color:var(--azulSecundario);
  
}

.emp-link{
  color: var(--negroPrincipal);
}

.input-buscador {
  background-color: black;
  color: grey;
  width: 300px;
  height: 35px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.btn-buscar {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px;
}

.btn-buscar img {
  filter: invert(64%) sepia(44%) saturate(750%) hue-rotate(160deg)
    brightness(100%) contrast(97%);
  max-width: 60px;
  max-height: 20px;
}

.search-form {
  display: flex;
  align-items: center;
  position: relative;
}

/* Ajusta el contenedor del menú desplegable */
.desplegable {
  position: relative; 
  margin-bottom: 0;
}

/* Contenedor del menú desplegable */
.desplegable .link {
  background-color: #f5f4f4;
  box-sizing: content-box;
  width: 200px; /* Ajusta según el diseño deseado */
  border: solid #5B6DCD 2px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  visibility: hidden;
  position: absolute; /* Permite que el menú se superponga */
  /* top: 100%; Justo debajo del botón */
  left: 0;
  z-index: 9999; /* Asegura que esté encima de la tabla */
}
.link a{
  text-decoration: none;
  color: black;
  display: block;
  padding: 8px; 

}

.link a:hover{
  background-color: #2a2a2a;
  color: #f5f4f4;
}

.desplegable:hover .link{
  visibility: visible;
  
}

.div_contenedor{
  display: flex;
  justify-content: center;
}
/* === Media queries === */

/*Pantallas grandes: ≥1306px */

@media (min-width: 1306px) {
  .header {
    align-items: center;
  }

  .logo-header {
    flex-shrink: 0;
  }

  .header-derecha {
    display: block;
  }

  .header-container-mensaje {
    margin: 0;
    padding: 0;
    gap: 1px;
  }

  .navegacion {
    display: grid;
    grid-template-columns: repeat(8, auto);
    width: 100%;
    justify-content: space-between;
    padding: 5px 0;
  }
}
@media (max-width: 1474px) and (min-width: 1430px) {
  .logo-header {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
  }
}
@media (max-width: 1429px) and (min-width: 1196px) {
  .navegacion {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*gap: 5px;*/
    flex-flow: row wrap;
    justify-content:end;
    padding: 2px 0;
    margin-right: 0;
  }

}

@media (max-width: 1195px) and (min-width: 695px) {
  .navegacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    flex-flow: column wrap;
  }
   .logo-header {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
  }

  .menu-toggle {
    display: none;
  }
}
/* Móviles chicos: ≤694px */
@media (max-width: 694px) {
  .header{
    width: 100%;
  }
  .menu-toggle {
    display: block;
    margin: 3px;
    position: sticky;
    order:1;
  }
  
  .header-derecha {
    display: inline-block;
    margin-left: 1%;
    order: 2;
  }
  .logo-header {
    height: 100px;
    width: 100px;
    margin: 5px;
    border-radius: 50%;
    order:0;
  }
   .navegacion {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    flex-flow: column nowrap;
    max-height: 0;
    overflow: hidden;
    height: auto;
    position: relative;
  }
  .navegacion .color{
    position: relative;
  }
  
  .navegacion.active {
    max-height: 1000px;
  }

  .navegacion li {
    margin: 10px 0;
  }
  #notification-dropdown {
    top: 100%;
    left: 50%;
  } 
 
  .link {
  display: none; /* Oculto por defecto */
  position: relative;
  width: 100%;
  background-color: #f5f4f4;
  border: 2px solid #5B6DCD;
  border-radius: 5px;
  z-index: 9999;
}

.link a {
  position: static;
  display: block;
  padding: 8px;
  background-color: var(--blancoPrincipal);
  border: 1px solid var(--azulSecundario);
  color: black;
  text-align: center;
}

.link a:hover {
  background-color: #2a2a2a;
  color: #f5f4f4;
}
  
}

/*Login*/
.contenedor-login {
  background-color: #3f3c3b;
  padding-bottom: 25px;
}

.titulo-login {
  color: #8497c5;
  display: inline-block;
  border-color: #8497c5;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.formulario-login {
  background-color: #8497c5;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
}

.label-login {
  display: block;
}

.button-enviar {
  background-color: aqua;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 150px;
  text-align: left;
}

.contenedor-button {
  margin-top: 10px;
}

.contenedor-password {
  margin-top: 10px;
}

/*Electrodomesticos*/
.contenedor-electro{
  background-color: black;
  color: #8497c5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  box-sizing: border-box;
  position: relative;
}
.pantalla-electro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-grow: 1;
}

.botones-electro{
  background-color: #8497c5;
  color: black;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
  transition: background-color 0.3s;
  width: 200px;
  height: 100px;
  text-align: left;
  text-decoration: none;
}

.boton-volver{
  background-color: black;
  color: #8497c5;
  font-weight: bold;
  border: 1px solid #8497c5;
  border-width: 1px;
  padding: 10px 15px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  width: 100px;
  height: 40px;
  margin-bottom: 0px;
  align-self: center;
}

.consulta-electro{
  text-decoration: none;
  color: black;
}
/*Consulta*/

.contenedor-consulta{
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 600px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}
.titulo-consulta{
  color: #8497c5;
  display: inline-block;
  border-color: #8497c5;
  border-radius: 5px;
  margin: 10px;
  padding: 1px;
  
}
.opciones {
  display: inline-block;
  border-color: #8497c5;
  border-radius: 5px;
  margin: 10px;
  padding: 1px;
}
.tipo-identificacion {
  margin-right: 20px;
}

label {
  margin-right: 20px;
  font-size: 14px;
  color: #333;
}

.input-identificacion {
  padding: 5px;
  border: 1px solid #8497c5;
  border-radius: 5px;
}
.formulario-consulta {
  display: flex;
  color: #8497c5;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  gap: 15px;
  flex-grow: 1;
}

.resultados {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tarjeta {
  background-color: #8497c5;
  color:black ;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.tarjeta:hover {
  transform: scale(1.05);
}

.campo {
  margin-bottom: 10px;
}

/*Agregar_reparacion*/

.contenedor_agregar{
  background-color: black;
    display: flex;
    flex-direction: column;
    height: 600px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}

.titulo_agregar{
  color: #8497c5;
  display: inline-block;
  border-color: #8497c5;
  border-radius: 5px;
  margin: 10px;
  padding: 1px;  
}
.formulario_agregar{
  display: flex;
  color: #8497c5;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  gap: 15px;
  flex-grow: 1;
}

/*Clientes*/

.agregarCliente{
  text-decoration: none;
  color: white;
  font-weight: none;
}

.modificar_a{
  text-decoration: none;
  color: black;
}

.borrar_a{
  text-decoration: none;
  color: black;
}


.btn_agregar{
  text-decoration: none;
  background-color: var(--azulSecundario);
  color:var(--blancoPrincipal);
  font-size: 1.5rem;
  border-radius: 0.5rem;
  height:48px;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  display: block;
}

/*FOOTER*/

.footer{
  width: 100%;
  background-color: var(--azulPrincipal);
  color: var(--blancoPrincipal);
  padding: 2rem 0 ;
  margin-top: 12%;
  bottom: 0;
  display: flex;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:1rem;
  max-height: 18vh;
  font-size: 1.2rem;

}


/*NOTIFICACIONES*/

#notification-container {
  position: relative;
}

#notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  display: none;
}

#notification-dropdown {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  max-height: 300px;
  overflow-y: auto;
  z-index: 100;
  width: 300px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.notification-item a {
  color: #333;
  text-decoration: none;
}


.btn-reportes{
  text-decoration: none;
  background-color: var(--azulSecundario);
  color:var(--blancoPrincipal);
  font-size: 1rem;
  border-radius: 0.5rem;
  height:38px;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  display: block;
}

.input-reportes{
  padding:0.5rem;
  min-width: 100px;
  margin-top: 15px;
  border:none;
  border-radius: 0.5rem;
  font-size: 0,9rem;
  height:30px;
  background-color: var(--blancoPrincipal);
  color: var(--negroPrincipal);
}

/*body{
  grid-row: 2 / 2;
}*/