         
.titulo {
    font-size: 2.5rem;
    padding:10px;
    color: #0201B4;
    margin-bottom: 10px;
}
        
.table-container {

    width: 100%;
    overflow-x: auto; 
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}
        
.tabla {
    border-collapse: collapse;
    width: fit-content; 
    max-width: 100%; 
    text-align: center;
    margin: 0 auto;
}
        
.tabla-head .tabla-data {
    padding: 5px;
    border: 3px solid #ddd;
}
        
.tabla-head{
    background-color: #0201B4;
}
        
.btn-iconos {
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 3px;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: border 0.2s;
}
        
.btn-iconos:hover {
    border: 2px solid #07eafa;
}
        
.form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    
}
        
.input, .btn-iconos {
    margin-right: 5px;
}
.boton-agregar {
    /*position: absolute;
    top: 0px;;
    right: 0;*/
    display: flex;
    align-self: flex-end;
    background-color: #4041FB;
    margin-right: 7%;
    margin-bottom:10px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.boton-agregar:hover {
    text-transform: uppercase;
    border: 3px double #353535;

}
.div-con-botones{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 20px;
    height: 100px;

}
.form-group{
    padding: 10px;
    border-radius: 8px;
    max-width: 80%;
    align-items: center;
    justify-items: center;
}
.form-group .input{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 20%;
    margin-top: 2px;
    margin-bottom: 2px;
}
#filtros {
    display: none;
    margin: 0;
}
@media (min-width: 694px) and (max-width: 1196px) {
  #filtros {
    display: none;
    margin-bottom: 0;
  }

  #filtros.mostrar {
    display: block;
    margin-top: 10%;
    margin-bottom: 15%; 
  }
  .form-group .input{
    display: block;
  }
  .btn-iconos{
    display: block;
  }
}
@media (max-width: 599px){
    #filtros {
        display: none;
        margin-bottom: 0;
    }

    #filtros.mostrar {
        display: block;
        margin-top: 10%;
        margin-bottom: 30%; /* o más si hace falta espacio */
    }


}
@media (max-width: 694px){
    .div-con-botones .desplegable{
        display: none;
    }
}
.button-group {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* Estilo de los botones */
.boton {
    padding: 8px 16px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom:10px;
}
.boton:hover{
    text-transform: uppercase;
    border: 3px double #353535;
}
.boton.submit {
    background-color: #4041FB;
}

.boton.cancelar {
    background-color: #FC0800;
}

.boton a {
    color: white;
    text-decoration: none;
}




/* Vista móvil: Cambia a una columna */
@media (max-width: 768px) {
    table {
        font-size: 12px;
    }


}

